<div class="form-control">
    <!-- Server Elements -->
    <div class="form-control">
        <label>Server Name</label>
        <!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" > -->

        <input type="text" class="form-control" [(ngModel)]="serverName">
        <span *ngIf="serverCreated">Server was created, server name is {{ serverName }}</span>

        <!-- <p>{{ serverName }}</p> -->
        <!-- <span *ngIf="serverCreated; else noServer">Server was created, server name is {{ serverName }}</span>
    <ng-template #noServer>
        <span>
            No server was created.
        </span>
    </ng-template> -->

        <div class="d-flex justify-content-end">
            <button class="btn btn-warning mt-2 d-flex justify-content-end" (click)="onCreateServer()"
                [disabled]="!allowNewServer">Add Server</button>
        </div>
        <!-- <p [innerText]="allowNewServer"></p> -->
        <!-- <p class="mt-2">{{ serverCreationStatus }}</p> -->
    </div>

    <div class="mt-5">
        <app-server *ngFor="let server of servers"></app-server>
    </div>

</div>


<app-assignments></app-assignments>